.result__card {
  height: 20rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.3rem;
}
.result__image {
  background-color: white;
  height: 15rem;
  width: 10rem;
  border-radius: 3%;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    transform: scale(1.05);
  }

  &__img {
    height: 100%;
    width: 100%;
  }
}

.result__heading {
  font-size: 1.6rem;
}
