.hero {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 7.5rem;
  height: 95vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__text {
    padding: 10rem;
    height: 10rem;
    max-width: 70rem;
    color: #fff;
  }

  &__category {
    font-weight: 300;
    font-size: 2rem;
  }

  &__name {
    font-weight: 900;
    font-size: 2.5rem;
  }

  &__details {
    font-weight: 100;
    font-size: 1.6rem;
  }

  &__icon {
    position: relative;
    top: 3px;
    width: 1.9rem;
    margin-right: 5px;
  }
}
