.sidebar {
  background: linear-gradient(
    135deg,
    rgba(94, 4, 29, 0.8) 40%,
    rgba(9, 11, 12, 0.8)
  );
  min-height: 100%;
  width: 38rem;

  &__content {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
  }

  &__image {
    height: 10rem;
    width: 10rem;
    overflow: hidden;
    border-radius: 100%;
    margin-bottom: 1rem;

    &__img {
      height: 100%;
      width: 100%;
    }
  }

  &__text {
    text-align: center;
  }

  &__heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  &__para {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__button {
    &__btn {
      font-size: 2rem;
      border: 2px solid #eb4e7a;
      border-radius: 10rem;
      padding: 1rem;
      transition: all 0.2s;

      &:hover {
        color: #eb4e7a;
        border: 2px solid #fff;
        background-color: #fff;
      }
    }
  }
}
