.hero {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #000;
  height: 100vh;

  &-text {
    padding: 10rem;
    height: 10rem;
    max-width: 70rem;
    color: #fff;
  }

  &-category {
    font-weight: 300;
    font-size: 2rem;
  }

  &-name {
    font-weight: 900;
    font-size: 2.5rem;
  }

  &-details {
    font-weight: 100;
    font-size: 1.6rem;
  }
}
