.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.5rem;
  background-color: #1c262b;
  width: 100%;

  &__logo {
    margin-left: 4rem;
  }

  &__list {
    display: flex;
    list-style: none;

    & li {
      margin-right: 4rem;
      fill: #fff;
      transition: all 0.2s;

      &:hover {
        fill: #eb4e7a;
        transition: all 0.2s;
      }
    }
  }

  &__search {
    position: relative;

    &-btn {
      position: absolute;
      left: 33rem;
      background-color: #eb4e7a;
      border-radius: 1.5rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 0.5rem;
    }
  }
}

input[type="text"] {
  border: none;
  width: 40rem;
  height: 22px;
  border-radius: 15px;
  padding: 6px;
}
